#d1
{
    background-color: transparent;
    width: 100%;
    height: 700px;
    display:block;


}

.container
{
    padding: 10px 30%;
}


nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a
{
    color: brown;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after
{
    content: '';
    height: 3px;
    width: 0;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    top:-10;
    transition: 0.5s;
}
html
{
    scroll-behavior: smooth;
}
nav ul li a:hover::after
{
    width: 100%;
}


#d1d1
{
    width: 40%;
    background-color:transparent;
    height: 300px;
    float: left;
    text-align: center;
    padding-top: 10%;
    padding-left: 50px;
    margin-left: 10%;
    
}
#hi
{
    font-size: 50px;
}
#name
{
    font-size: 60px;
    color: crimson;
}

#profile
{
    width: 380px;
    height: 500px;
    text-align: right;
  
    border-radius: 5px;

}
#profile:hover
{
    width: 400px;
    height: 540px;
    box-shadow: 0px 0px 5px crimson;

}

#abouth1
{
    font-size: 50px;
}

#pic
{
    width: 200px;
    height: 300px;
   
}
#about
{
    background-color: rgb(48, 179, 227);
}


#d2d1
{
    width: 70%;
    height: 80px;
    background-color: transparent;
    font-size: 20px;
}
.bio
{
    background-color: transparent;
    border: solid black 3px;
   
}
.bio:hover
{
    background-color: aliceblue;
}
#bio
{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 300px;
    display: grid;
    grid-gap: 50px;
    margin-top: 50px;
}


#gallery
{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 300px;
    display: grid;
    grid-gap: 50px;
    margin-top: 50px;
    margin: 10px;
    
}

#d3
{
    background-color: brown;
}

.pic
{
    background-color:transparent;
    text-align: center;
}
.pic:hover
{
    border: solid black 2px;
    box-shadow: 0px 0px 5px white;
    font-family:cursive;
    background-color: wheat;
}

.contact
{
    width: 200px;
    height: 80px;
    border-radius: 8px;
    text-align: center;
    margin-left: 20px;
}
#d4
{
    width: 100%;
    background-color: cornsilk;
}


#submit:hover
{
    background-color: rgb(53, 232, 53);
    
    
}

.media
{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

/*-------small screen---------*/

@media only screen and (max-width: 600px){
    
    #profile
    {
    width: 100px;
    height: 250px;
    text-align: right;
    margin-bottom: 10px;
  
    border-radius: 5px;

    }
    #profile:hover
    {
    width: 150px;
    height: 300px;
    box-shadow: 0px 0px 5px crimson;

    }
    #hi
    {
        font-size: 20px;
    }
    #name
    {
        font-size: 25px;
        color: crimson;
    }
    .container
    {
        padding: 2px 10%;
    }

    #abouth1
    {
        font-size: 25px;
    }
    p
    {
        font-size: small;
    }

        
    .pic
    {
        background-color:transparent;
        text-align: center;
        font-size: 8px;
        
    }
    .pic:hover
    {
        border: solid black 2px;
        box-shadow: 0px 0px 5px gray;
        font-family:'Times New Roman';
        background-color: white;
        font-size: 8px;
        
    }
    #gallery
    {
        width:100%;
        height: 500px;
    
    }
    h3
    {
        font-size: 10px;
    }
    #gallery
    {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 450px;
        display: grid;
        grid-gap: 50px;
        margin-top: 50px;
        margin: 10px;
        
        
    }
    #about
    {
        background-color: transparent;
    }
    #d3
    {
        background-color: transparent;
        width:100%;
    }
    #me
    {
        text-align: justify;
    }
    #d2d1
    {
        width: 100%;
        height: 80px;
        background-color: transparent;
        font-size: 20px;
    }

    #bio
    {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 400px;
        display: grid;
        grid-gap: 50px;
        margin-top: 50px;
    }
   
    
}
